section
  .container-lg
    .row
      .wrapper
        .wrapper_svg
          include svg
        h1 Menu
    .row
      .card(style='width: 18rem;')
        .card-body
          p 01
          h5.card-title hight quality
          p.card-text We serve the highest quality of prepared meals at a great value, in a home-like and friendly environment.
          a.btn(href='#') more

      .card(style='width: 18rem;')
        .card-body
          p 02
          h5.card-title best recipes
          p.card-text We use cookies and similar tracking and storage technologies on our site to enhance your user experience
          a.btn(href='#') more

      .card(style='width: 18rem;')
        .card-body
          p 03
          h5.card-title real taste
          p.card-text A light, sour wheat dough with roasted walnuts and freshly picked rosemary, thyme, poppy seeds, parsley and sage
          a.btn(href='#') more
