section.fon_jpeg
  .fon_jpeg_png
    .row
      h1 Excellent
        br
        | Services & good
        br
        | Prices
      img( src="src/img/skobki.png" alt="скобки" )
      .container_foto_cickle
