section.fon_jpeg

  .fon_jpeg_png
    .row
      h1 Our Passion
        br
        | For Delicious
        br
        | Food
      img( src="src/img/skobki.png" alt="скобки" )
  .container_foto_cickle
