section
  .container-lg
    .row
      .wrapper
        .wrapper_svg
          include svg
        h1 Our Menu
    .row
      .card(style='width: 18rem;')
        .card-body
          h5.card-title pizza
          p.card-text
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui bland itiis praesentium voluptatum deleniti atque corrupti.
        img.card-img-top(src='src/img/pizza.jpeg' alt='pizza')

      .card(style='width: 18rem;')
        .card-body
          h5.card-title salads
          p.card-text
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui bland itiis praesentium voluptatum deleniti atque corrupti.
        img.card-img-top(src='src/img/salad.jpeg' alt='salads')
      .card(style='width: 18rem;')
        .card-body
          h5.card-title desserts
          p.card-text
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui bland itiis praesentium voluptatum deleniti atque corrupti.
        img.card-img-top(src='src/img/dessertt.jpeg' alt='desserts')
