section
  .container-lg
    .row
      .wrapper

        h1 Our Team
        p
          | Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
    .row
      .card(style='width: 14rem;')
        img.card-img-top.bg_img(src='src/img/conor.jpeg' alt='Connor')
        .card-body
          h5.card-title Connor Quinn
          p.card-text
            | AExecutive Chef.


      .card(style='width: 14rem;')
        img.card-img-top.bg_img(src='src/img/samuel.jpeg' alt='Samuel')
        .card-body
          h5.card-title Samuel Schick
          p.card-text
            | Restaurant Manager.

      .card(style='width: 14rem;')
        img.card-img-top.bg_img(src='src/img/fred.jpeg' alt='Fred')
        .card-body
          h5.card-title Fred Morrison
          p.card-text
            | Co-Chief.

      .card(style='width: 14rem;')
        img.card-img-top.bg_img(src='src/img/celia.jpeg' alt='Celia')
        .card-body
          h5.card-title Celia Almeda
          p.card-text
            | Co-Chief.
