section.fon_jpeg
  .fon_jpeg_png
    .row
      h1 catering
      p
        | please call at least 24 hours in advance for catering orders
    .row
      .card(style='width: 13rem;')
        img.card-img-top(src='src/img/salads.jpeg' alt='salads')
        .card-body
          h5.card-title fresh salads
      .card(style='width: 13rem;')
        img.card-img-top(src='src/img/platters.jpeg' alt='platters')
        .card-body
          h5.card-title party platters
      .card(style='width: 13rem;')
        img.card-img-top(src='src/img/food.jpeg' alt='food')
        .card-body
          h5.card-title sea food
      .card(style='width: 13rem;')
        img.card-img-top(src='src/img/dessert.jpeg' alt='dessert')
        .card-body
          h5.card-title vegan desserts
  .container_foto_cickle
