//- чтобы скрипт menu.js работал корректно то этот модуль html разметки должен идти следом за модулем разметки header.pug в файле подключения index.pug
.container-lg
  .row
    nav.col-12.col-sm-3
      ul
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
