section
  .container-lg
    .row
      .col-12.col-sm-6
        .location
          h1 location
          p
            | 28 Jackson Blvd Ste 1020 Chicago
            br
            |  IL 60604-2340

          h1 follow us
          ul
            li.social_item
              a(href="")
                i.fab.fa-facebook
            li.social_item
              a(href="")
                i.fab.fa-twitter
            li.social_item
              a(href="")
                i.fab.fa-instagram-square
            li.social_item
              a(href="")
                i.fab.fa-google-plus
          p
            | &copy; 2018 Privacy policy

      .col-12.col-sm-6
        .formlocation
          h1 contact form
          input(type="text" placeholder="Enter your Name")
          br
          input(type="email" placeholder="Enter a valid email address")
          br
          textarea(name="msg" placeholder="Enter your message")
          br
          input(type="submit" value="Submit")
